---
import Card from '@/components/Card.astro'
import Divider from '@/components/Divider.astro'
import Heading from '@/components/Heading.astro'
import CollectionPageStructuredData from '@/components/meta/CollectionPageStructuredData.astro'
import ProfilePageStructuredData from '@/components/meta/ProfilePageStructuredData.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { organizeEntriesByYear } from '@/lib/utils'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog', (entry) => !entry.data.draft)
const { years, entriesByYear } = organizeEntriesByYear(posts)
---

<PageLayout
  title={site.pages.blog.title}
  description={site.pages.blog.description}>
  <CollectionPageStructuredData
    slot='structured-data'
    type='blog'
    name={site.pages.blog.title}
    description={site.pages.blog.description}
  />
  <ProfilePageStructuredData slot='structured-data' />

  <article class='mb-12 space-y-6'>
    <Heading title='Blog' subtitle='thoughts and ideas' />
    {
      years.map((year) => (
        <>
          <Divider>{year}</Divider>
          <ul class='flex flex-col gap-4 pb-4'>
            {entriesByYear[year].map((post) => (
              <li>
                <Card
                  title={post.data.title}
                  description={post.data.description}
                  icon={post.data.icon}
                  href={`/blog/${post.id.replace(/\/index\.mdx$|\.mdx$/, '')}`}
                  date={post.data.publishDate}
                />
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </article>
</PageLayout>
