---
import Container from '@/components/layout/Container.astro'
import Subheader from '@/components/layout/Subheader.astro'
import CollectionPageStructuredData from '@/components/meta/CollectionPageStructuredData.astro'
import ArrowCard from '@/components/ui/ArrowCard.astro'
import { BLOG } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'
import { type CollectionEntry, getCollection } from 'astro:content'

const blogPosts = (await getCollection('blog'))
  .filter(post => !post.data.draft)

const projectsInBlog = (await getCollection('projects'))
  .filter(project => !project.data.draft && project.data.showInBlog)

const allPosts = [...blogPosts, ...projectsInBlog]
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

type Acc = {
  [year: string]: (CollectionEntry<'blog'> | CollectionEntry<'projects'>)[]
}

const posts = allPosts.reduce((acc: Acc, post) => {
    const year = post.data.date.getFullYear().toString()
    if (!acc[year]) {
      acc[year] = []
    }
    acc[year].push(post)
    return acc
  }, {})

const years = Object.keys(posts).sort((a, b) => Number.parseInt(b) - Number.parseInt(a));
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <CollectionPageStructuredData
    slot="structured-data"
    type="blog"
    name={BLOG.TITLE}
    description={BLOG.DESCRIPTION}
  />
  <Container>
    <div class="space-y-10">
      <Subheader title="Blog" subtitle="thoughts and ideas" />
      <div class="space-y-4">
        {years.map(year => (
          <section class="animate">
            <div class="divider divider-start text-base-content font-medium my-8 animate">
              {year}
            </div>
            <div>
              <ul class="flex flex-col gap-4">
                {
                  posts[year].map(post => (
                    <li>
                      <ArrowCard entry={post} context="blog" />
                    </li>
                  ))
                }
              </ul>
            </div>
          </section>
        ))}
      </div>
    </div>
  </Container>
</PageLayout>
