---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Button from '@/components/Button.astro'
// import ColorModeButton from '@/components/ColorModeButton.astro'
import Link from '@/components/Link.astro'
import { Icon } from 'astro-icon/components'
---

<footer class='animate mt-auto py-6' role='contentinfo'>
  <section>
    <div class='flex flex-col'>
      <nav aria-label='Breadcrumb' class='h-6'>
        <Breadcrumbs />
      </nav>
      <div
        class='flex h-10 items-center justify-between pt-2 text-xs md:text-sm'
      >
        <div>
          <div class='flex items-center gap-1'>
            <Icon name='anticopyright' class='text-[11px]' />
            <Link
              href='/unlicense'
              class='hover:underline'
              title={`${site.name} unlicense`}
              underline={false}
              externalInNewTab={false}
            >
              UNLICENSE 2024
            </Link>
            <span>|</span>
            <Link
              href='https://youtube.com/watch?v=XO9FKQAxWZc'
              class='hover:underline'
              title="'Copyright is Brain Damage' by Nina Paley"
              externalInNewTab={true}
              underline={false}
            >
              copyright is brain damage
            </Link>
          </div>
        </div>
        <div class='button-group flex min-w-[4.4rem] items-center gap-2'>
          <div id='back-to-top-wrapper' transition:persist>
            <Button
              id='back-to-top'
              arrow='up'
              aria-label='Back to top of page'
            >
              <span class='hidden md:inline'>Back to top</span>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
