---
import Link from '@/components/Link.astro'
import { getNavItems } from '@/config'

const navItems = getNavItems()
---

<header
  role='banner'
  class='fixed left-1/2 top-0 z-50 w-full max-w-[42rem] -translate-x-1/2 bg-base-100/80 px-5 py-4 backdrop-blur-sm'
  transition:persist
>
  <a
    href='#main-content'
    class='hover:text-accent-focus sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:z-50 focus:rounded-lg focus:bg-neutral focus:px-4 focus:py-2 focus:text-base-content focus:outline-none focus:ring-2 focus:ring-base-content'
  >
    skip to main content
  </a>

  <section>
    <div class='flex items-center justify-between'>
      <Link
        href='/'
        title={`${site.name} - Return to homepage`}
        externalInNewTab={false}
        underline={false}
        class='text-lg font-black subpixel-antialiased'
        aria-label={`${site.name} - Return to homepage`}
      >
        <h1
          class='title font-bold uppercase subpixel-antialiased transition-all duration-150 hover:scale-105 hover:text-primary'
        >
          {site.name}
        </h1>
      </Link>
      <nav role='navigation' aria-label='Main navigation'>
        <ul class='m-0 flex list-none gap-1 p-0'>
          {
            navItems.map((item, index) => (
              <>
                <li>
                  <Link
                    href={item.href}
                    title={`View ${item.name}`}
                    externalInNewTab={item.external}
                    class='lowercase'
                    prefetch={true}
                    underline={true}
                    aria-current={
                      Astro.url.pathname === item.href ? 'page' : undefined
                    }
                  >
                    {item.name}
                  </Link>
                </li>
                {index < navItems.length - 1 && (
                  <li aria-hidden='true'>
                    <span>/</span>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </nav>
    </div>
  </section>
</header>
