---
import ArrowCard from '@/components/ArrowCard.astro'
import ArtCarousel from '@/components/ArtCarousel.astro'
import GitHubCommits from '@/components/GitHubCommits.astro'
import Container from '@/components/layout/Container.astro'
import Subheader from '@/components/layout/Subheader.astro'
import Link from '@/components/Link.astro'
import ProfilePageStructuredData from '@/components/meta/ProfilePageStructuredData.astro'
import WebsiteStructuredData from '@/components/meta/WebsiteStructuredData.astro'
import { HOME, LINKS_FOOTER, SITE } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'
import { getCollection } from 'astro:content'

const allPosts = (await getCollection('blog'))
  .filter((post: any) => !post.data.draft)
  .sort(
    (a: any, b: any) =>
      b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
  )
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

const recentArts = (await getCollection('art'))
  .filter((art: any) => !art.data.draft)
  .sort(
    (a: any, b: any) =>
      b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
  )
  .slice(0, SITE.NUM_ART_ON_HOMEPAGE)
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <WebsiteStructuredData slot='structured-data' />
  <ProfilePageStructuredData slot='structured-data' />
  <Container as='section'>
    <Subheader title="Hello, I'm Chip" />
    <div class='space-y-16'>
      <section>
        <article class='main-content space-y-4'>
          <p class='animate'>
            I make stuff on the internet. Usually silly stuff, sometimes
            artistic stuff, and very rarely useful stuff. This is my website
            where I dump thoughts and blog posts that can't fit on my
            <Link
              href='https://x.com/fractalcounty'
              title='X'
              externalInNewTab={true}
              >Twitter,
            </Link> as well as various projects I'm working on and other miscellaneous
            things that don't fit elsewhere.
          </p>
        </article>
      </section>

      <section class='animate space-y-6'>
        <div class='flex flex-wrap items-center justify-between gap-y-2'>
          <h2 class='title font-bold uppercase'>Latest posts</h2>
          <Link href='/blog' title='Blog' externalInNewTab={false}>
            See all posts
          </Link>
        </div>
        <ul class='flex flex-col gap-4'>
          {
            allPosts.map((post: any) => (
              <li>
                <ArrowCard
                  title={post.data.title}
                  description={post.data.description}
                  icon={post.data.icon}
                  href={`/blog/${post.id.replace(/\/index\.mdx$|\.mdx$/, '')}`}
                />
              </li>
            ))
          }
        </ul>
      </section>

      <section class='animate space-y-6'>
        <div class='flex flex-wrap items-center justify-between gap-y-2'>
          <h2 class='title font-bold uppercase'>Archived art</h2>
          <Link href='/art' title='Art' externalInNewTab={false}>
            See all art
          </Link>
        </div>
        <ArtCarousel arts={recentArts} priority={true} />
      </section>

      <section class='animate space-y-6'>
        <GitHubCommits />
      </section>

      <section class='animate space-y-4'>
        <h2 class='title font-semibold uppercase'>Contact me</h2>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class='flex flex-wrap gap-2'>
          {
            LINKS_FOOTER.map((SOCIAL) => (
              <li class='flex gap-x-2 text-nowrap'>
                <Link
                  href={SOCIAL.HREF}
                  title={`${SITE.NAME} on ${SOCIAL.ICON}`}
                  externalInNewTab={true}
                >
                  {SOCIAL.ICON}
                </Link>
                /
              </li>
            ))
          }
          <li class='line-clamp-1'>
            <Link
              href={`mailto:${encodeURIComponent(SITE.EMAIL)}`}
              title={`Email ${SITE.AUTHOR}`}
              externalInNewTab={false}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
