---
import GalleryGrid from '@/components/GalleryGrid.astro'
import Container from '@/components/layout/Container.astro'
import Subheader from '@/components/layout/Subheader.astro'
import Link from '@/components/Link.astro'
import WebsiteStructuredData from '@/components/meta/WebsiteStructuredData.astro'
import ArrowCard from '@/components/ui/ArrowCard.astro'
import { HOME, LINKS_FOOTER, SITE } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'
import { getCollection } from 'astro:content'

const blogPosts = (await getCollection('blog'))
  .filter(post => !post.data.draft)

const projectsInBlog = (await getCollection('projects'))
  .filter(project => !project.data.draft && project.data.showInBlog)

const allBlogPosts = [...blogPosts, ...projectsInBlog]
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

const projects = (await getCollection('projects'))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)

const recentArtwork = (await getCollection('artwork'))
  .filter(artwork => !artwork.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3); // Show 6 most recent artworks
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <WebsiteStructuredData slot="structured-data" />
  <Container>
    <Subheader title="Hello, I'm Chip" />
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I make stuff on the internet.
            Usually silly stuff, sometimes artistic stuff, and very rarely useful stuff.
            This is my website where I dump thoughts and blog posts that can't fit on my
            <Link
              href="https://x.com/fractalcounty"
              title="X"
              externalInNewTab={true}
            >
              Twitter
            </Link>,
            as well as various projects I'm working on and other miscellaneous things that don't fit elsewhere.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-bold uppercase">
            Latest posts
          </h5>
          <Link
            href="/blog"
            title="Blog"
            externalInNewTab={false}
          >
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {allBlogPosts.map(post => (
            <li>
              <ArrowCard entry={post} context="blog" />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-bold uppercase">
            Recent projects
          </h5>
          <Link
            href="/projects"
            title="Projects"
            externalInNewTab={false}
          >
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} context="projects" />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-bold uppercase">
            Archived artwork
          </h5>
          <Link
            href="/art"
            title="Art"
            externalInNewTab={false}
          >
            See all artwork
          </Link>
        </div>
        <GalleryGrid
          artworks={recentArtwork}
          priority={true}
          isHomepage={true}
        />
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold uppercase">
          Contact me
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say hi,
            reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {LINKS_FOOTER.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link
                href={SOCIAL.HREF}
                title={`${SITE.NAME} on ${SOCIAL.ICON}`}
                externalInNewTab={true}
              >
                {SOCIAL.ICON}
              </Link>
              /
            </li>
          ))}
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              title={`Email ${SITE.NAME}`}
              externalInNewTab={false}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
