---
import ArtCarousel from '@/components/ArtCarousel.astro'
import Card from '@/components/Card.astro'
import GitHubCommits from '@/components/GitHubCommits.astro'
import Heading from '@/components/Heading.astro'
import Link from '@/components/Link.astro'
import ProfilePageStructuredData from '@/components/meta/ProfilePageStructuredData.astro'
import WebsiteStructuredData from '@/components/meta/WebsiteStructuredData.astro'
import Prose from '@/components/Prose.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { fetchTopTracks } from '@/lib/lastfm'
import { getSpotifyToken } from '@/lib/spotify'
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'

const NUM_POSTS_ON_HOMEPAGE = 3
const NUM_ART_ON_HOMEPAGE = 8

const allPosts = (await getCollection('blog'))
  .filter((post: any) => !post.data.draft)
  .sort(
    (a: any, b: any) =>
      b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
  )
  .slice(0, NUM_POSTS_ON_HOMEPAGE)

const recentArts = (await getCollection('art'))
  .filter((art: any) => !art.data.draft)
  .sort(
    (a: any, b: any) =>
      b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
  )
  .slice(0, NUM_ART_ON_HOMEPAGE)

const LASTFM_USERNAME = 'fractalcounty'

const spotifyToken = await getSpotifyToken()
const topTracks = await fetchTopTracks(
  LASTFM_USERNAME,
  import.meta.env.LASTFM_API_KEY,
  spotifyToken,
  true,
)
---

<PageLayout
  title={site.pages.home.title}
  description={site.pages.home.description}>
  <WebsiteStructuredData slot='structured-data' />
  <ProfilePageStructuredData slot='structured-data' />

  <Prose class='main-content space-y-4'>
    <Heading title="Hello, I'm Chip " />
    <p>
      I make rotten things on the internet.
      <br />
      <br />
      This website serves as my personal blog for my various thoughts on art, games,
      and software that I couldn't fit on my <Link
        href='https://x.com/fractalcounty'
        title='X'
        externalInNewTab={true}
        >Twitter.
      </Link> It's also an archive of my artwork, webcomics, music, and other creative
      endeavors from over the years.
    </p>
  </Prose>

  <section class='space-y-6'>
    <Heading title='Latest posts' headingLevel='h2'>
      <Link href='/blog' slot='link' title='Go to blog page'>
        All blog posts
      </Link>
    </Heading>
    <ul class='grid grid-cols-1 gap-4'>
      {
        allPosts.map((post: any) => (
          <li class='flex-1'>
            <Card
              title={post.data.title}
              description={post.data.description}
              icon={post.data.icon}
              date={post.data.publishDate}
              href={`/blog/${post.id.replace(/\/index\.mdx$|\.mdx$/, '')}`}
              class='h-full'
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section class='space-y-6'>
    <Heading title='Archived art' headingLevel='h2'>
      <Link href='/art' slot='link' title='Go to art page'> All artwork </Link>
    </Heading>
    <ArtCarousel arts={recentArts} priority={true} />
  </section>

  <section class='space-y-6'>
    <Heading title='Loved songs (this month)' headingLevel='h2'>
      <Link href='/music' slot='link' title='Go to music page'>
        All music
      </Link>
    </Heading>

    <div class='grid grid-cols-1 gap-4 sm:grid-cols-2'>
      {
        topTracks.map((track: any, index: number) => (
          <Link
            href={track.url}
            class={`group flex h-auto w-full items-center gap-4 rounded-lg bg-theme-800 p-3 shadow-md outline outline-theme-500 transition-all duration-200 hover:bg-theme-700 hover:text-theme-200 hover:shadow-lg hover:outline hover:outline-theme-accent/75 ${
              index === 3 ? 'hidden sm:flex' : ''
            }`}
            underline={false}
            externalInNewTab={true}>
            <Picture
              src={track.image[2]['#text'] || '/images/album.webp'}
              alt={`Album artwork for ${track.name} by ${track.artist}`}
              width={64}
              height={64}
              widths={[64]}
              sizes='64px'
              formats={['avif']}
              fallbackFormat='webp'
              loading='lazy'
              class='size-16 rounded-lg object-cover shadow-md outline outline-theme-500 transition-all duration-200 group-hover:outline-theme-accent/40'
            />
            <div class='min-w-0 flex-1'>
              <h3 class='line-clamp-1 font-medium text-theme-200 transition-all duration-200 group-hover:text-theme-100'>
                {track.name}
              </h3>
              <p class='line-clamp-1 text-sm text-theme-300 transition-all duration-200 group-hover:text-theme-200'>
                {track.artist.name} • {Number(track.playcount).toLocaleString()}{' '}
                plays
              </p>
            </div>
          </Link>
        ))
      }
    </div>
  </section>

  <section class='space-y-6'>
    <Heading title='Recent commits' headingLevel='h2'>
      <Link
        href='https://github.com/fractalcounty'
        icon={true}
        externalInNewTab={true}
        slot='link'>
        View on GitHub
      </Link>
    </Heading>
    <GitHubCommits />
  </section>

  <section class='space-y-4'>
    <Heading title='Contact me' headingLevel='h2' />
    <Prose>
      <p>
        If you want to get in touch with me about something or just to say hi,
        reach out on social media or send me an email.
      </p>
      <ul class='not-prose flex flex-wrap gap-2 text-theme-content'>
        {
          site.integrations?.fediverse && (
            <li class='sr-only flex gap-x-2 text-nowrap lowercase'>
              <a
                href={`${site.integrations.fediverse.instance}/${site.integrations.fediverse.username}`}
                rel='me'>
                Mastodon
              </a>
              /
            </li>
          )
        }
        {
          site.author.socials
            ?.filter((social) => social.showInContact)
            .map(({ url, name }) => (
              <li class='flex gap-x-2 text-nowrap lowercase'>
                <Link
                  href={url}
                  title={`${site.author.username} on ${name}`}
                  externalInNewTab={true}>
                  {name}
                </Link>
                /
              </li>
            ))
        }
        <li class='line-clamp-1'>
          <Link
            href={`mailto:${encodeURIComponent(site.author.email)}`}
            title={`Email ${site.author.name}`}
            externalInNewTab={false}>
            {site.author.email}
          </Link>
        </li>
      </ul>
    </Prose>
  </section>
</PageLayout>
