---
import Divider from '@/components/Divider.astro'
import Heading from '@/components/Heading.astro'
import Link from '@/components/Link.astro'
import CollectionPageStructuredData from '@/components/meta/CollectionPageStructuredData.astro'
import MusicPageStructuredData from '@/components/meta/MusicPageStructuredData.astro'
import ProfilePageStructuredData from '@/components/meta/ProfilePageStructuredData.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { Image, Picture } from 'astro:assets'
import { getCollection } from 'astro:content'

// replace the spotify and lastfm functions with imports
import { fetchLastFmData } from '@/lib/lastfm'
import { getPlaylistDetails, getSpotifyToken } from '@/lib/spotify'

const LASTFM_USERNAME = 'fractalcounty'
const PLAYLIST_ID = '6mcNUOZBJVOl38rvUS5suh'

const spotifyToken = await getSpotifyToken()
const lastFmData = await fetchLastFmData(
  LASTFM_USERNAME,
  import.meta.env.LASTFM_API_KEY,
  spotifyToken,
)
const playlistData = await getPlaylistDetails(PLAYLIST_ID, spotifyToken)

const { artists, albums, userInfo, topTracks } = lastFmData
const playlist = playlistData

const bandcampAlbums = await getCollection('music')
---

<PageLayout
  title={site.pages.music.title}
  description={site.pages.music.description}>
  <MusicPageStructuredData
    slot='structured-data'
    lastFmData={lastFmData}
    bandcampAlbums={bandcampAlbums}
    playlist={playlist}
  />
  <CollectionPageStructuredData
    slot='structured-data'
    type='blog'
    name='Music'
    description='My music listening stats from Last.fm'
  />
  <ProfilePageStructuredData slot='structured-data' />

  <section>
    <div class='mb-12'>
      <Heading
        class='mb-12 space-y-12'
        headingLevel='h1'
        title='Music'
        subtitle='my released albums & music projects'>
        <Link
          slot='link'
          href='https://fractalcounty.bandcamp.com'
          externalInNewTab={true}
          icon={true}>
          Listen on Bandcamp
        </Link>
      </Heading>

      <div class='grid grid-cols-2 gap-6 md:grid-cols-3'>
        {
          bandcampAlbums.map((album: any, index: number) => (
            <Link
              href={album.data.url}
              class={`group relative aspect-square overflow-hidden rounded-xl bg-base-300 shadow-md transition-all duration-150 hover:shadow-lg ${index >= 2 ? 'hidden md:block' : ''}`}
              underline={false}
              externalInNewTab={true}>
              <Image
                src={album.data.coverArt}
                alt={`${album.data.title} album art`}
                width={300}
                height={300}
                loading='eager'
                class='h-full w-full object-cover transition-transform duration-300 group-hover:scale-105'
              />
              <div class='absolute inset-0 bg-gradient-to-t from-base-100/90 via-base-100/40 to-transparent transition-all duration-300 group-hover:from-base-100/95 group-hover:via-base-100/50'>
                <div class='absolute inset-0 flex flex-col justify-end p-4'>
                  <div class='-space-y-0'>
                    <span class='inline-flex items-center gap-x-1 text-xs font-semibold text-primary opacity-0 transition-opacity duration-200 group-hover:opacity-100'>
                      {new Date(album.data.releaseDate).getFullYear()}
                    </span>
                    <h2 class='text-lg font-semibold text-base-content lg:text-sm'>
                      {album.data.title}
                    </h2>
                    {album.data.description && (
                      <p class='mt-1 text-sm text-base-content/80'>
                        {album.data.description}
                      </p>
                    )}
                  </div>
                </div>
              </div>
            </Link>
          ))
        }
      </div>
    </div>

    <!-- last.fm section -->
    <div class='space-y-12'>
      <Heading
        title='last.fm'
        subtitle='my listening stats from last.fm'
        metadataPosition='bottom'
        headingLevel='h2'
        metadata={[
          {
            label: 'total plays',
            value: Number(userInfo?.playcount).toLocaleString(),
          },
          {
            label: 'scrobbling since',
            value: new Date(userInfo?.registered.unixtime * 1000).getFullYear(),
          },
          {
            label: 'profile',
            value: `@${LASTFM_USERNAME}`,
            url: `https://last.fm/user/${LASTFM_USERNAME}`,
          },
        ]}
      />

      <!-- top tracks sub-section -->
      <div class='space-y-4'>
        <Heading headingLevel='h3' title='Top Tracks'>
          <Link
            slot='link'
            icon={true}
            class='text-theme-content-weak'
            href={`https://www.last.fm/user/${LASTFM_USERNAME}/library/tracks`}
            externalInNewTab={true}>
            View All
          </Link>
        </Heading>

        <div class='grid grid-cols-2 gap-6 md:grid-cols-3'>
          {
            topTracks.map((track: any, index: number) => (
              <Link
                href={track.url}
                class='group relative aspect-square overflow-hidden rounded-xl bg-base-300 shadow-md transition-all duration-150 hover:shadow-lg'
                underline={false}
                externalInNewTab={true}
                data-index={index}>
                <Image
                  src={track.albumArt}
                  alt={`Album art for ${track.name} by ${track.artist.name}`}
                  width={300}
                  height={300}
                  inferSize
                  loading='eager'
                  class='h-full w-full object-cover transition-transform duration-300 group-hover:scale-105'
                />
                <div class='absolute inset-0 bg-gradient-to-t from-base-100/90 via-base-100/40 to-transparent transition-all duration-300 group-hover:from-base-100/95 group-hover:via-base-100/50'>
                  <div class='absolute inset-0 flex flex-col justify-end p-4'>
                    <div class='-space-y-0'>
                      <span class='inline-flex items-center gap-x-1 text-xs font-semibold text-primary opacity-0 transition-opacity duration-200 group-hover:opacity-100'>
                        {track.playcount} plays
                      </span>
                      <h4 class='text-lg font-semibold text-base-content lg:text-sm'>
                        {track.name}
                      </h4>
                      <p class='mt-1 text-sm text-base-content/80'>
                        {track.artist.name}
                      </p>
                    </div>
                  </div>
                </div>
              </Link>
            ))
          }
        </div>
      </div>

      <!-- top artists and albums columns sub-sections -->
      <div class='grid w-full grid-cols-1 gap-6 md:grid-cols-2'>
        <!-- top artists sub-section (left column) -->
        <div class='w-full space-y-4'>
          <Heading headingLevel='h3' title='Top Artists'>
            <Link
              slot='link'
              icon={true}
              class='text-theme-content-weak'
              href={`https://www.last.fm/user/${LASTFM_USERNAME}/library/artists`}
              externalInNewTab={true}>
              View All
            </Link>
          </Heading>

          <div class='space-y-3'>
            {
              artists.map((artist: any) => (
                <Link
                  href={artist.url}
                  class='group flex h-[76px] w-full items-center gap-4 rounded-lg border border-base-content/25 bg-transparent p-3 shadow-md transition-all duration-200 hover:bg-neutral hover:shadow-lg'
                  underline={false}
                  externalInNewTab={true}>
                  <Image
                    src={
                      artist.image[3]['#text'] ||
                      artist.image[2]['#text'] ||
                      '/images/music/album-placeholder.webp'
                    }
                    alt={`${artist.name}`}
                    width={48}
                    height={48}
                    inferSize
                    class='size-12 flex-shrink-0 rounded-lg object-cover'
                  />
                  <div class='min-w-0 flex-1'>
                    <h4 class='line-clamp-1 font-medium group-hover:text-primary'>
                      {artist.name}
                    </h4>
                    <p class='line-clamp-1 text-sm text-base-content/80'>
                      {Number(artist.playcount).toLocaleString()} plays
                    </p>
                  </div>
                </Link>
              ))
            }
          </div>
        </div>

        <!-- top albums sub-section (right column) -->
        <div class='mb-12 w-full space-y-4'>
          <Heading headingLevel='h3' title='Top Albums'>
            <Link
              slot='link'
              icon={true}
              class='text-theme-content-weak'
              href={`https://www.last.fm/user/${LASTFM_USERNAME}/library/albums`}
              externalInNewTab={true}>
              View All
            </Link>
          </Heading>

          <div class='space-y-3'>
            {
              albums.map((album: any) => (
                <Link
                  href={album.url}
                  class='group flex h-[76px] w-full items-center gap-4 rounded-lg border border-base-content/25 bg-transparent p-3 shadow-md transition-all duration-200 hover:bg-neutral hover:shadow-lg'
                  underline={false}
                  externalInNewTab={true}>
                  <Image
                    src={
                      album.image[2]['#text'] ||
                      '/images/music/album-placeholder.webp'
                    }
                    alt={`${album.name} by ${album.artist.name}`}
                    width={48}
                    height={48}
                    inferSize
                    class='size-12 flex-shrink-0 rounded-lg object-cover'
                  />
                  <div class='min-w-0 flex-1'>
                    <h4 class='line-clamp-1 font-medium group-hover:text-primary'>
                      {album.name}
                    </h4>
                    <p class='line-clamp-1 text-sm text-base-content/80'>
                      {album.artist.name} •{' '}
                      {Number(album.playcount).toLocaleString()} plays
                    </p>
                  </div>
                </Link>
              ))
            }
          </div>
        </div>
      </div>
    </div>

    <!-- spotify section -->
    <section class='space-y-12 pb-12'>
      <Heading
        title='Featured Playlist'
        subtitle='my favorite music on Spotify'
        headingLevel='h2'>
        <Link
          slot='link'
          icon={true}
          href={`https://open.spotify.com/playlist/${PLAYLIST_ID}`}
          externalInNewTab={true}>
          Listen on Spotify
        </Link>
      </Heading>

      <div
        id='customView'
        class='space-y-4 rounded-xl border border-theme-neutral p-4 shadow-md hover:shadow-lg'>
        {
          playlist && (
            <div class='space-y-4'>
              <div class='flex gap-6'>
                {/* playlist thumbnail artwork image */}
                <div class='relative h-[150px] w-[149.5px] flex-shrink-0'>
                  <Picture
                    src={playlist.image}
                    alt={playlist.name}
                    width={259}
                    height={259}
                    widths={[129, 259]}
                    sizes='149px'
                    class='absolute inset-0 h-full w-full rounded-lg border border-theme-neutral object-cover shadow-md'
                    style={{
                      aspectRatio: '1/1',
                      objectFit: 'cover',
                    }}
                    loading='lazy'
                  />
                </div>
                <div class='flex flex-col justify-center'>
                  <h3 class='font-brand text-xl font-bold uppercase'>
                    {playlist.name}
                  </h3>
                  <p
                    class='text-theme-content-weak'
                    set:html={playlist.description}
                  />
                </div>
              </div>

              <Divider />

              <div class='h-[200px] space-y-2 overflow-y-auto pr-2'>
                {playlist.tracks.map((track: any) => (
                  <Link
                    href={track.external_url}
                    class='group flex items-center gap-3 rounded-lg p-2 transition-colors hover:bg-theme-darkest'
                    underline={false}
                    externalInNewTab={true}>
                    <Image
                      src={track.image}
                      alt={track.name}
                      width={48}
                      height={48}
                      class='size-12 rounded border border-theme-neutral object-cover shadow-sm'
                      loading='lazy'
                    />
                    <div class='min-w-0 flex-1'>
                      <h4 class='line-clamp-1 font-medium group-hover:text-theme-primary'>
                        {track.name}
                      </h4>
                      <p class='line-clamp-1 text-sm text-theme-content-weak'>
                        {track.artist}
                      </p>
                    </div>
                    <span class='text-sm text-theme-content-weak'>
                      {`${Math.floor(track.duration / 60000)}:${String(
                        Math.floor((track.duration % 60000) / 1000),
                      ).padStart(2, '0')}`}
                    </span>
                  </Link>
                ))}
              </div>
            </div>
          )
        }
      </div>
    </section>
  </section>
</PageLayout>
