---
import Date from '@/components/Date.astro'
import Link from '@/components/Link.astro'
import { Icon } from 'astro-icon/components'

type Props = {
  title: string
  description: string
  icon?: string
  href: string
  date?: Date
  externalInNewTab?: boolean
  class?: string
}

const {
  title,
  description,
  icon,
  href,
  date,
  externalInNewTab = true,
  class: className,
} = Astro.props
---

<Link
  href={href || `/`}
  class={`group relative flex flex-nowrap items-center rounded-lg border border-base-content/25 bg-transparent px-4 py-4 pr-10 shadow-md transition-all duration-200 hover:bg-neutral hover:shadow-lg ${className}`}
  underline={false}
  externalInNewTab={externalInNewTab}>
  <!-- Icon -->
  {icon && <Icon name={icon} class='mr-3 size-6 flex-shrink-0' />}

  <!-- Title and description -->
  <div class='flex flex-1 flex-col truncate'>
    <div class='flex items-center gap-2'>
      <span class='font-semibold group-hover:text-primary'>
        {title}
      </span>
      {
        date && (
          <span class='text-sm opacity-75'>
            • <Date date={date} />
          </span>
        )
      }
    </div>
    <div class='truncate text-sm'>
      {description}
    </div>
  </div>

  <!-- Arrow icon -->
  <svg
    xmlns='http://www.w3.org/2000/svg'
    viewBox='0 0 24 24'
    class='absolute right-2 top-1/2 size-5 -translate-y-1/2 fill-none stroke-current stroke-2 transition-colors duration-300 ease-in-out group-hover:stroke-primary'>
    <line
      x1='5'
      y1='12'
      x2='19'
      y2='12'
      class='translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100'
    ></line>
    <polyline
      points='12 5 19 12 12 19'
      class='-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0'
    ></polyline>
  </svg>
</Link>
