---
import type { JSX } from 'astro/jsx-runtime'
import ImageCard from './ImageCard.astro'

interface Props {
  author: string
  content: (string | JSX.Element)[]
  avatar?: string
  date?: string
}

const { author, content, avatar = '/default-avatar.png', date } = Astro.props

function formatDate(dateString: string) {
  try {
    const dateObject = new Date(dateString)
    if (Number.isNaN(dateObject.getTime())) {
      return dateString // Return the original string if it's not a valid date
    }
    return dateObject.toISOString()
  } catch {
    return dateString // Return the original string if there's any error
  }
}
---

<div
  class='discord-message group'
  role='listitem'
  aria-label={`Discord message from ${author}`}
>
  <div class='avatar-wrapper' role='img' aria-label={`${author}'s avatar`}>
    <ImageCard
      imagePath={avatar}
      altText={`${author}'s avatar`}
      showShadow={false}
      rounded={true}
      showCaption={false}
      scale={1}
      class='avatar'
    />
  </div>
  <div class='message-content'>
    <div class='message-header'>
      <strong class='author'>{author}</strong>
      {
        date && (
          <time class='date' datetime={formatDate(date)}>
            {date}
          </time>
        )
      }
    </div>
    {
      content.map((item, index) => (
        <div class={`content ${index > 0 ? 'follow-up' : ''}`}>
          {typeof item === 'string' ? item : <Fragment set:html={item} />}
        </div>
      ))
    }
  </div>
</div>

<style>
  .discord-message {
    font-family: 'gg-sans', sans-serif;
    display: flex;
    align-items: flex-start;
    transition: background-color 0.2s ease;
  }
  .avatar-wrapper {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    margin-top: -32px;
    align-self: flex-start;
    flex-shrink: 0;
  }
  .avatar-wrapper :global(.custom-image-card-wrapper) {
    width: 100%;
    height: 100%;
  }
  .avatar-wrapper :global(.custom-image-card) {
    width: 100%;
    height: 100%;
  }
  .avatar-wrapper :global(.custom-image-card img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .message-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .message-header {
    display: flex;
    align-items: baseline;
    margin-bottom: 2px;
  }
  .author {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-right: 0.25rem;
  }
  .date {
    font-size: 0.75rem;
    font-weight: 500;
  }
  .content {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 0.25rem;
  }
  .content.follow-up {
    margin-top: 0.25rem;
  }
</style>
