---
import Link from '@/components/Link.astro'
import { getNavItems } from '@/config'

const navItems = getNavItems()
---

<header
  role='banner'
  class='fixed left-1/2 top-0 z-50 w-full max-w-[42rem] -translate-x-1/2 bg-base-100/80 px-5 py-4 backdrop-blur-sm'
  transition:persist>
  <a
    href='#main-content'
    class='sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:z-[100] focus:rounded-lg focus:bg-neutral focus:px-4 focus:py-2 focus:text-base-content focus:outline-none focus:ring-2 focus:ring-base-content'
    tabindex='0'>
    Skip to main content
  </a>

  <section>
    <div class='flex items-center justify-between'>
      <Link
        href='/'
        title={`${site.name} - Return to homepage`}
        externalInNewTab={false}
        underline={false}
        aria-label={`${site.name} - Return to homepage`}
        class='title flex items-center text-theme-content transition-colors duration-150 hover:text-primary'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 418 57'
          class='h-[1.25rem] w-auto md:h-[1.45rem]'
          aria-label={site.name}
          fill='currentColor'>
          <path
            d='M4.4 12.5H25l.7.4.2.6v4l-.1.4-.3.3c-.2.2-.6.3-1.2.3H12.2c-.7 0-1.2 0-1.5.2-.2.1-.3.3-.4.7l-.1.8v4.6l.2.7c0 .2.3.3.5.4l.5.2h11.4l.6.2c.3.2.5.6.4 1.2v3.2c-.1.4-.3.6-.5.7l-1.2.2H11.4c-.5 0-.9.2-1 .6l-.1.4v10.6c0 .6-.1 1-.3 1.3 0 .2-.2.3-.3.4l-.5.1h-5a1 1 0 0 1-.7-.3.9.9 0 0 1-.4-.7V14.3c0-.6 0-1 .2-1.3l.7-.4h.4ZM57.6 44v.5l-.3.3-.8.2h-4.7c-.4-.2-.6-.3-.8-.6a3 3 0 0 1-.4-1.5 9.3 9.3 0 0 0-.3-2v-.3l-.2-1.1v-1.6l-.3-1a5.8 5.8 0 0 0-1-2.9c-.4-.5-.8-1-1.4-1.2l-.5-.2h-.5a6 6 0 0 0-1.9-.4h-5.8l-.7.2c-.2 0-.3 0-.4.2-.3.3-.4.8-.4 1.5v10.2c-.1.3-.3.5-.6.6h-3.2l-1.6.1c-.6 0-1-.1-1.3-.3-.2-.2-.3-.4-.3-.8v-30c0-.4 0-.7.2-1l.6-.4h16a19.3 19.3 0 0 1 3.6.4l.6.1.6.3c.8.3 1.5.7 2.1 1.2a7 7 0 0 1 1.9 2.2l.3.4.6 1.4a151.8 151.8 0 0 0 .5 2.2v1.4l-.1.7-.1.7-.1.6a65.8 65.8 0 0 1-1 2.5 7.2 7.2 0 0 1-1.1 1.3l-.6.4-.6.5-.3.3c-.2 0-.3.2-.3.4v.4l.4.3.9.7c.3.3.6.5.8.9l.8 1.6c.3.5.5 1.1.6 1.8l.1 1 .2.8v2.2l.1.4v1l.2 1 .1.8.2.8.2.8ZM50 23.4v-1.2a6.6 6.6 0 0 0-.4-1.7c-.3-1-1-1.7-2-2-.5-.3-1-.5-1.7-.5h-7.7c-.4.1-.6.2-.7.5-.2.2-.3.5-.3 1v6.3c0 .4.2.7.3 1l.6.3a7.2 7.2 0 0 0 2 .2h4.3l.6-.1h.6l.7-.1.7-.1 1.4-.6c.4-.2.7-.6 1-1 .2-.2.3-.5.4-.9l.3-1.1Zm40.5 19.4.2.5.1.6v.5c0 .2 0 .3-.2.4-.3.2-.7.2-1.3.2h-4.7l-.7-.6-.4-.8a27.6 27.6 0 0 0-1.6-4.4c0-.3 0-.5-.2-.7 0-.2-.2-.3-.4-.4l-.7-.4h-9.7c-.5 0-1 0-1.3.3-.3.2-.4.4-.5.8l-.4.9-.6 1.6a17.3 17.3 0 0 1-1.4 3.4l-.7.3h-2a11.7 11.7 0 0 0-2.4 0c-.6 0-1 0-1.2-.2a.6.6 0 0 1-.3-.4v-.6a14.3 14.3 0 0 1 .4-1l.9-2.2a161.5 161.5 0 0 1 2.8-7.5 69.3 69.3 0 0 0 1.3-3.6l2-5a102.3 102.3 0 0 1 3-8 37.6 37.6 0 0 1 1.7-3.7l.6-.3H78c.4 0 .7 0 .9.2.3.2.5.4.6.8a24.5 24.5 0 0 0 1 2.6l.6 1.5.2.5.2.6a44.4 44.4 0 0 1 1.4 3.6l1.7 4.6a84.6 84.6 0 0 0 2 5.3l.5 1.4.6 1.5.2.7.3.7a56.9 56.9 0 0 1 2.3 6.3ZM78.8 32.4c.4-.2.6-.4.6-.8s-.2-.7-.3-1l-.1-.4V30a54.9 54.9 0 0 1-2.3-6.4l-.2-.5-.2-.7-.4-.5a.6.6 0 0 0-.4-.2l-.2.1-.2.1a3 3 0 0 0-.5 1.1l-.4 1.3a38.2 38.2 0 0 0-2.2 6.1l-.3 1v.7c.2.3.4.4.8.4h6.3Zm29.5-20.7c3.1 0 5.8.5 7.8 1.7a13.5 13.5 0 0 1 5.8 6.2 16.5 16.5 0 0 1 .8 2.4v.8l-.4.4h-1a2 2 0 0 1-.6.2H118a61 61 0 0 1-1.7-.3 2 2 0 0 1-.6-.9 6.6 6.6 0 0 0-2.7-3.3c-.6-.4-1.4-.7-2.1-1a8 8 0 0 0-4.7.1l-.6.2a8 8 0 0 0-4.4 4.4l-.4 1.2a29.8 29.8 0 0 1-.5 1.8 26 26 0 0 0-.3 4v.9l.2.4v.7a55.5 55.5 0 0 0 .5 1.8c.4 1.3 1 2.4 1.6 3.3a7.9 7.9 0 0 0 3.7 2.6 37.2 37.2 0 0 1 1.6.4h.8l.6.1h.6l.4-.1a31.7 31.7 0 0 0 2-.5c.7-.3 1.3-.7 1.8-1.2s1-1.1 1.3-1.8l.5-1 .4-1 .3-1c0-.2.3-.5.6-.6h5.8c.2.2.3.5.3.8l-.1 1-.3 1.2a65.8 65.8 0 0 1-1.7 4 13.1 13.1 0 0 1-8.3 5.7l-1 .2h-1.5l-.6.2H108l-.8-.1h-.4l-.7-.1a40 40 0 0 0-1.6-.4l-.8-.2-.9-.3-.7-.3c-1.9-.8-3.4-1.9-4.7-3.2A16.5 16.5 0 0 1 93 30.4v-.9l-.1-.6v-1.7l.2-.8v-.8l.2-.7.1-.7a24.7 24.7 0 0 0 .7-2.4l.5-1.2.6-1a19.8 19.8 0 0 1 2.5-3.5 13.7 13.7 0 0 1 5.3-3.4c.3-.1.7-.3 1.1-.3a14.5 14.5 0 0 1 3-.6h.7c0-.1.1-.1.2 0h.3Zm18.5.8H151c.4 0 .7.1 1 .3v.3c.2.1.2.2.2.4v4c-.1.6-.4.8-.9.9H145l-1.6.1c-.4 0-.7.3-.8.8v.8a4 4 0 0 0 0 1.3v21.5l-.2 1.2c0 .4-.2.6-.5.8h-5.6a1 1 0 0 1-.6-.3c-.2-.3-.2-.6-.2-1V20.2a.3.3 0 0 1 0-.4l-.1-.4c-.2-.5-.5-.8-1-.8h-7a4 4 0 0 1-1-.1 1 1 0 0 1-.5-.4l-.2-.6v-4c.1-.4.3-.6.5-.7l.5-.2h.2Zm52.5 30.3.2.5.2.6v.5c0 .2-.1.3-.3.4-.3.2-.7.2-1.3.2h-4.7l-.7-.6-.4-.8a28 28 0 0 0-1.6-4.4 3 3 0 0 0-.2-.7c0-.2-.2-.3-.4-.4l-.7-.4h-9.8c-.5 0-1 0-1.3.3-.3.2-.4.4-.5.8l-.4.9-.6 1.6a17.5 17.5 0 0 1-1.4 3.4l-.7.3h-2a11.7 11.7 0 0 0-2.4 0c-.6 0-1 0-1.2-.2a.6.6 0 0 1-.3-.4v-.6a14.3 14.3 0 0 1 .4-1l.9-2.2a161.4 161.4 0 0 1 2.8-7.5 70.8 70.8 0 0 0 1.4-3.6l1.9-5a102.5 102.5 0 0 1 3-8 38 38 0 0 1 1.7-3.7l.6-.3h5.3c.4 0 .7 0 1 .2.2.2.5.4.5.8a23.7 23.7 0 0 0 1 2.6l.6 1.5.2.5.2.6a42.2 42.2 0 0 1 1.4 3.6l1.7 4.6a84.8 84.8 0 0 0 2 5.3l.5 1.4.6 1.5.2.7.3.7a56.7 56.7 0 0 1 2.3 6.3Zm-11.8-10.4c.4-.2.6-.4.6-.8s-.2-.7-.3-1v-.4l-.2-.3a54.7 54.7 0 0 1-2.2-6.4l-.2-.5-.2-.7-.3-.5a.6.6 0 0 0-.5-.2l-.2.1-.2.1-.5 1.1-.4 1.3a38.1 38.1 0 0 0-2.2 6.1l-.3 1v.7c.2.3.5.4.8.4h6.3Zm16.8-20h3.9l1 .1c.3 0 .5.1.6.4.2.2.3.5.3.8V38l.2.5c.2.4.6.6 1.2.6h12.7l1 .1c.2 0 .4.2.5.3.2.2.2.4.2.7v4.2a1 1 0 0 1-.5.5l-.6.2h-20.9a1 1 0 0 1-.7-.5l-.2-.7V13.6l.2-.6c.1-.2.4-.4.7-.5h.4Zm52.4-.7c3.2 0 5.8.5 7.9 1.7a13.5 13.5 0 0 1 5.7 6.2 16.5 16.5 0 0 1 .8 2.4v.8l-.4.4a7 7 0 0 0-.6 0h-.3a2 2 0 0 1-.7.2h-2.7a62.1 62.1 0 0 1-1.7-.3 2 2 0 0 1-.5-.9 6.6 6.6 0 0 0-2.7-3.3l-2.2-1a8 8 0 0 0-4.7.1l-.6.2a8 8 0 0 0-4.3 4.4l-.4 1.2a29.8 29.8 0 0 1-.6 1.8 26 26 0 0 0-.2 4v.9l.1.4.1.7a47.5 47.5 0 0 0 .4 1.8c.4 1.3 1 2.4 1.7 3.3a7.9 7.9 0 0 0 3.6 2.6 37.2 37.2 0 0 1 1.6.4h.9l.6.1h.6l.4-.1a31.7 31.7 0 0 0 2-.5c.6-.3 1.2-.7 1.7-1.2s1-1.1 1.4-1.8l.4-1 .4-1 .3-1c.1-.2.3-.5.6-.6h5.8c.2.2.3.5.3.8v1l-.4 1.2a65.8 65.8 0 0 1-1.6 4 13.1 13.1 0 0 1-8.3 5.7l-1 .2h-1.5l-.6.2h-1.6l-.8-.1h-.4l-.7-.1a37.5 37.5 0 0 0-1.6-.4l-.8-.2c-.3 0-.6-.2-.8-.3-.3 0-.6-.2-.8-.3-1.8-.8-3.4-1.9-4.7-3.2a16.5 16.5 0 0 1-4.3-10v-1.6c-.2-.1-.2-.3-.2-.6l.1-.7v-1l.1-.8v-.8c.2-.2.2-.5.2-.7l.2-.7a25.2 25.2 0 0 0 .6-2.4l.5-1.2.6-1a19.8 19.8 0 0 1 2-3l.6-.5a13.6 13.6 0 0 1 5.2-3.4c.4-.1.7-.3 1.1-.3a14.6 14.6 0 0 1 3-.6h1.2Zm50.3 16 .1.9V30l-.1 1a5.6 5.6 0 0 1-.2 1.6l-.2.6a110 110 0 0 1-1 3.1c-.8 2.2-2 4-3.6 5.4a16 16 0 0 1-6.8 3.5l-1 .2h-.9l-1.5.2H270a1 1 0 0 1-.4 0h-.5a6.8 6.8 0 0 0-1.4-.3l-.7-.2a6.2 6.2 0 0 1-1.8-.5l-1-.4c-1.8-.8-3.4-1.8-4.7-3.1a16.5 16.5 0 0 1-4.4-10.5v-4.3l.1-.6.1-.4.1-.5.4-1.5c0-.5.2-1 .4-1.5l.7-1.6.8-1.4a14.8 14.8 0 0 1 10.9-7l1.3-.1h.5a16.6 16.6 0 0 1 9.9 2.7 15.1 15.1 0 0 1 5 6l.5 1.3a30 30 0 0 1 .9 3.2v.6l.1.6v.6l.1.5v.3Zm-7 1.8v-2.4l-.1-.3a6.9 6.9 0 0 1-.3-1.4v-.5l-.3-1-.4-1A9 9 0 0 0 276 19a8.3 8.3 0 0 0-6.4-1.3 11.8 11.8 0 0 0-1.9.5 7.6 7.6 0 0 0-3 2.3 12.3 12.3 0 0 0-2 4.5l-.2 1v.3l-.1.4v1a3.4 3.4 0 0 0-.1 1.7V31l.1.3.2 1a15.9 15.9 0 0 0 1.5 3.7c.5.8 1 1.5 1.8 2l.5.4c.2 0 .3.2.5.3l1 .5a62.4 62.4 0 0 0 2.7.5h1.8c.3-.2.6-.2 1-.2l.8-.3a7.9 7.9 0 0 0 3-2 10.1 10.1 0 0 0 2.3-4.3l.3-1.2.1-1v-1.3Zm13.1-17h4.9c.3 0 .5.1.7.3l.2 1v19.1l.1.8v.5l.2 1c0 .3.1.7.3 1a6 6 0 0 0 1.2 2c.6.5 1.3.9 2.2 1.2l.7.1a6.2 6.2 0 0 1 1.1.3h2.3c.2-.2.5-.2.7-.2l.7-.2c.4 0 .8-.2 1-.3.5-.2 1-.5 1.4-1a5 5 0 0 0 1-1.4c.3-.7.5-1.7.6-2.7l.1-3.4V14c0-.5 0-.9.2-1.1l.7-.4h5.2c.4 0 .7.2.8.4l.2 1v20a12.4 12.4 0 0 1-2.1 6.7c-.7 1-1.5 1.9-2.6 2.6a12.6 12.6 0 0 1-4.2 1.9l-.8.2h-.6l-.5.2a12.7 12.7 0 0 1-2.5.1c-2.9 0-5.4-.3-7.4-1a10.8 10.8 0 0 1-6.7-8c-.2-1-.3-1.9-.3-3V13.7l.1-.8.8-.4h.2Zm34 0h4.7l.8.1c.3.1.5.3.7.6l.5.7 1.6 2.6 3.2 5.2a291 291 0 0 1 6.7 10.6l.4.5.3.2h.2c.3 0 .4-.2.4-.4V13.9c0-.4.1-.8.3-1l.6-.4h5.1c.4.2.6.5.6.9v30.3c.1.3 0 .6 0 .8-.2.1-.3.3-.5.3s-.4 0-.6.2h-4.9c-.3 0-.5 0-.7-.2a2 2 0 0 1-.8-.6l-.5-.8-.8-1.3a19 19 0 0 0-.8-1.3l-6.8-11a57.7 57.7 0 0 0-3.9-5.3l-.4.7v18.3c0 .5-.1.9-.3 1a1 1 0 0 1-.6.4h-4.4a2 2 0 0 1-.6 0 1 1 0 0 1-.7-.9V14l.1-1 .7-.4h.4Zm31.2 0h24.1c.4 0 .7.1 1 .3l.1.3.1.4v.2l.1.4v3.4c-.2.6-.5.8-1 .9h-6.3l-1.6.1c-.4 0-.7.3-.8.8v.8a4 4 0 0 0 0 1.3v21.5c0 .4 0 .9-.2 1.2 0 .4-.2.6-.5.8h-5.6a1 1 0 0 1-.6-.3c-.2-.3-.2-.6-.2-1V20.2a.3.3 0 0 1 0-.4l-.1-.4c-.2-.5-.5-.8-1-.8h-7a4 4 0 0 1-1-.1 1 1 0 0 1-.5-.4l-.2-.6v-4c.1-.4.3-.6.5-.7l.5-.2h.2Zm27.4 0h5.1l1 .1c.3.2.6.5.8.9l.7 1a52 52 0 0 1 2.9 5l1.1 1.9a28.8 28.8 0 0 0 1.6 2.6c.1.3.3.5.7.5.2 0 .4 0 .5-.2l.4-.5.7-1.2.8-1.3a164.6 164.6 0 0 0 4.5-7.7c.3-.5.6-.8 1-1 .3-.2.8-.2 1.3-.2h4.1a5.9 5.9 0 0 1 1.4.2c.3.2.3.4.2.8l-.3.6-1.2 2a126.2 126.2 0 0 1-4 6.7 208.2 208.2 0 0 1-6 10v10.8c0 .7-.2 1.1-.6 1.3l-.7.2h-5a1 1 0 0 1-.8-1V33.1l-.1-.6a5 5 0 0 0-.5-1.2 93 93 0 0 1-10.7-18.4c0-.2.2-.2.2-.3l.4-.1h.4Z'
          ></path>
        </svg>
        <span class='sr-only'>{site.name}</span>
      </Link>
      <nav role='navigation' aria-label='Main navigation'>
        <ul class='m-0 flex list-none gap-1 p-0'>
          {
            navItems.map((item, index) => (
              <>
                <li>
                  <Link
                    href={item.href}
                    title={`View ${item.name}`}
                    externalInNewTab={item.external}
                    class='lowercase'
                    prefetch={true}
                    underline={true}
                    aria-current={
                      Astro.url.pathname === item.href ? 'page' : undefined
                    }>
                    {item.name}
                  </Link>
                </li>
                {index < navItems.length - 1 && (
                  <li aria-hidden='true'>
                    <span>/</span>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </nav>
    </div>
  </section>
</header>
