---
import { cn } from '@lib/utils'
import { Icon } from 'astro-icon/components'
import { Link as AstroLink } from 'astro-link'

export interface Props {
  icon: string
  url: string
  class?: string
}

const { icon, url, class: className } = Astro.props;
---

<AstroLink
  href={url}
  externalInNewTab={true}
  class={cn(
    'inline-flex items-center justify-center bg-transparent text-white hover:opacity-80 transition-opacity',
    className,
  )}
  aria-label={`Visit ${icon} profile`}
>
  <Icon name={icon} class="text-4xl sm:text-2xl" />
  <span class="sr-only">{icon}</span>
</AstroLink>
