---
import Container from '@/components/layout/Container.astro'
import Subheader from '@/components/layout/Subheader.astro'
import CollectionPageStructuredData from '@/components/meta/CollectionPageStructuredData.astro'
import ProfilePageStructuredData from '@/components/meta/ProfilePageStructuredData.astro'
import ArrowCard from '@/components/ui/ArrowCard.astro'
import { PROJECTS } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'
import { getCollection } from 'astro:content'

const projects = (await getCollection('projects'))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <CollectionPageStructuredData
    slot="structured-data"
    type="projects"
    name={PROJECTS.TITLE}
    description={PROJECTS.DESCRIPTION}
  />
  <ProfilePageStructuredData slot="structured-data" />
  <Container as="main">
    <div class="space-y-10">
      <Subheader title="Projects" subtitle="projects and experiments" />
      <ul class="animate flex flex-col gap-4">
        {
          projects.map(project => (
            <li>
              <ArrowCard entry={project} context="projects" />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
