---
import ArrowCard from '@components/ArrowCard.astro'
import CollectionPageStructuredData from '@components/CollectionPageStructuredData.astro'
import Container from '@components/Container.astro'
import { PROJECTS } from '@consts'
import PageLayout from '@layouts/PageLayout.astro'
import { getCollection } from 'astro:content'

const projects = (await getCollection('projects'))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <CollectionPageStructuredData
    slot="structured-data"
    type="Article"
    name={PROJECTS.TITLE}
    description={PROJECTS.DESCRIPTION}
  />
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold uppercase">
        Projects
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map(project => (
            <li>
              <ArrowCard entry={project} context="projects" />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
