---
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import Head from '@/components/meta/Head.astro'

type Props = {
  title: string
  description: string
  type?: 'website' | 'article'
  publishDate?: Date
  updatedDate?: Date
  tags?: string[]
  isContentPage?: boolean
}

const {
  title,
  description,
  type = 'website',
  publishDate,
  updatedDate,
  tags = [],
} = Astro.props

const publishDateString = publishDate?.toISOString()
const updatedDateString = updatedDate?.toISOString()
---

<!doctype html>
<html lang='en' data-theme='laramie' transition:persist='theme'>
  <head>
    <Head
      title={title}
      description={description}
      type={type}
      publishDate={publishDateString}
      updatedDate={updatedDateString}
      tags={tags}
    />
    <slot name='structured-data' />
    <link
      rel='alternate'
      type='application/rss+xml'
      title={site.pages.blog.title}
      href={`${site.url}/rss.xml`}
    />
  </head>
  <body class='relative mx-auto max-w-[42rem] px-5'>
    <Header />
    <main id='main' class='mt-24 space-y-12'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
