---
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import Head from '@/components/meta/Head.astro'

type Props = {
  title: string
  description: string
  type?: 'website' | 'article'
  publishedTime?: Date
  tags?: string[]
}

const { title, description, type = 'website', publishedTime, tags = [] } = Astro.props

const publishedTimeString = publishedTime?.toISOString();
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      type={type}
      publishedTime={publishedTimeString}
      tags={tags}
    />
    <slot name="structured-data" />
  </head>
  <body>
    <Header role="banner" />
    <main>
      <slot />
    </main>
    <Footer role="contentinfo" />
  </body>
</html>
