---
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import Head from '@/components/meta/Head.astro'

type Props = {
  title: string
  description: string
  type?: 'website' | 'article'
  publishDate?: Date
  updatedDate?: Date
  tags?: string[]
  isContentPage?: boolean
}

const {
  title,
  description,
  type = 'website',
  publishDate,
  updatedDate,
  tags = [],
} = Astro.props

const publishDateString = publishDate?.toISOString()
const updatedDateString = updatedDate?.toISOString()
---

<!doctype html>
<html lang='en' data-theme='laramie' transition:persist='theme'>
  <head>
    <Head
      title={title}
      description={description}
      type={type}
      publishDate={publishDateString}
      updatedDate={updatedDateString}
      tags={tags}
    />
    <link
      rel='preload'
      href='/fonts/AlteHaasGroteskBold.woff2'
      as='font'
      type='font/woff2'
      crossorigin
    />
    <slot name='structured-data' />
    <style is:global>
      .preload-text {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-display: swap;
      }
    </style>
  </head>
  <body class='flex min-h-screen flex-col'>
    <Header role='banner' />
    <main id='main' class='mt-24'>
      <slot />
    </main>
    <Footer role='contentinfo' />
  </body>
</html>
